{% load static %}

<div class="receita receita-list-item">
    <div class="receita-cover">
        <img src="{% static 'receitas/receitas-cover.png' %}" alt="receitas-cover"/>
    </div>
    <div class="receita-title-container">
        <h2 class="receita-title">{{receitaGerada.title}}</h2>
    </div>

    <div class="receita-author">
        <span class="receita-author-item">
            <i class="fa fa-user"></i>
            {{receitaGerada.author.fisrt_name}} {{receitaGerada.author.last_name}}
        </span>
        
        <span class="receita-author-item">
            <i class="fas fa-calendar-alt"></i>

            <!--Verificar na documentação o formato data e hora-->

            {{ receitaGerada.created_at|date:"d/m/Y" }} às {{ receitaGerada.created_at|date:"H:i" }}

        </span>
        
        <span class="receita-author-item">
            <a href="/receitas/category/cafe-da-manha/">
                <i class="fas fa-layer-group"></i>
                <span>{{ receitaGerada.category.name }}</span>
            </a>
                                   
        </span>

    </div>

    <div class="receita-content">
        <p>{{ receitaGerada.description }}</p>
    </div>

    <div class="receita-meta-container">
        <div class="receita-meta receita-preparation">
            <h3 class="receita-meta-title"><i class="fa fa-stopwatch"></i> Preparo</h3>
            <div class="receita-meta-text">
                {{ receitaGerada.preparation_time }} {{ receitaGerada.preparation_time_unit }} 
            </div>
        </div>
        <div class="receita-meta receita-servings">
            <h3 class="receita-meta-title"><i class="fa fa-pizza-slice"></i> Porções</h3>
            <div class="receita-meta-text">
                {{ receitaGerada.servings }} {{ receitaGerada.servings_unit }}
            </div>
        </div>

    </div>

    <footer class="receita-footer">
        <a class="receita-read-more button button-dark button-full-width" href="/recipes/3/">
            <i class="fa fa-eye"></i>
            <span>Ver mais...</span>
        </a>
    </footer>

</div>

