{% load static %}

<div class="receita receita-list-item">


    <!--if para evitar erro e mostra imagem somente quando ela foi cadastrada-->
    {% if receitaGerada.cover %}
        <div class="receita-cover">

            <a href="{% url 'receitas:receita' receitaGerada.id%}">
                <!--<img src="{% static 'receitas/receitas-cover.png' %}" alt="receitas-cover"/>-->
                <img src="{{ receitaGerada.cover.url }}" alt="receitas-cover"/>
            </a>

        </div>
    {% endif %}




    <div class="receita-title-container">
        <a href="{% url 'receitas:receita' receitaGerada.id%}">
            <h2 class="receita-title">{{receitaGerada.title}}</h2>
        </a>

    </div>

    <div class="receita-author">
            <span class="receita-author-item">
                <i class="fa fa-user"></i>

                {% if  receitaGerada.author is not None%}

                    <!--mostra do nome do autor se houver-->
                    {% if receitaGerada.author.fisrt_name %}
                        {{receitaGerada.author.fisrt_name}} {{receitaGerada.author.last_name}}
                    {% else %}
                        {{receitaGerada.author.username}}
                    {% endif %}

                {% else %}
                    Desconhecido
                {% endif %}
                
            </span>
        

        
        <span class="receita-author-item">
            <i class="fas fa-calendar-alt"></i>

            <!--Verificar na documentação o formato data e hora-->

            {{ receitaGerada.created_at|date:"d/m/Y" }} às {{ receitaGerada.created_at|date:"H:i" }}

        </span>
        

        <!-- onde gera a receita-->
        {% if receitaGerada.category is not None %}
        <span class="receita-author-item">
            <!--<a href="/receitas/category/cafe-da-manha/">-->
                <a href="{% url 'receitas:category' receitaGerada.category.id %}">
                    <i class="fas fa-layer-group"></i>
                    <span>{{ receitaGerada.category.name }}</span>
                </a>                           
        </span>
        {% endif %}

    </div>


    {% if is_detail_page is not True %}
        <div class="receita-content">
            <p>{{ receitaGerada.description }}</p>
        </div>
    {% else  %}
        <div class="preparation-steps">
            <p>{{ receitaGerada.preparation_steps| linebreaks }}</p>
        </div>
    {% endif %}




    <div class="receita-meta-container">
        <div class="receita-meta receita-preparation">
            <h3 class="receita-meta-title"><i class="fa fa-stopwatch"></i> Preparo</h3>
            <div class="receita-meta-text">
                {{ receitaGerada.preparation_time }} {{ receitaGerada.preparation_time_unit }} 
            </div>
        </div>
        <div class="receita-meta receita-servings">
            <h3 class="receita-meta-title"><i class="fa fa-pizza-slice"></i> Porções</h3>
            <div class="receita-meta-text">
                {{ receitaGerada.servings }} {{ receitaGerada.servings_unit }}
            </div>
        </div>

    </div>

    {% if is_detail_page is not True %}
    <footer class="receita-footer">
        <a class="receita-read-more button button-dark button-full-width" href="{% url 'receitas:receita' receitaGerada.id%}">
            <i class="fa fa-eye"></i>
            <span>Ver mais...</span>
        </a>
    </footer>
    {% endif %}

    

</div>

